*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: skyblue;
}

/*navigation/header begins*/

header {
    background-image: url("../images/sunset.png");
    background-size: cover;
    background-position: center;
    background-position: 80%;
    background-attachment: fixed;
    position: -webkit-sticky;
    position: sticky;
    top: 0; 
    z-index: 9999;  
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

header nav ul {
    display: flex;
    list-style: none;
    justify-content: center;  
    flex-wrap: wrap;  
}

header nav ul li a {
    padding: 10px 30px;
    font-size: 40px;  
    color: white;
}
/* Background image */
.jumbotron-img {
    background-image: url("../images/sunset.png");
    background-size: cover; 
    background-position: 80%;
    background-attachment: fixed;
}
/*main photo of me */
.headshot {
    text-align: center;
    padding: 60px 0 20px;
    border-radius: 50%;  
    display: flex;
    justify-content: space-evenly;
    padding: 150px;
}

#headshot-img {
    border-radius: 50%; 
}
/*main photo ends */
/* my name and web developer */
#my-name {
    font-size: 50px;
    color: white;
    padding: 100px;
}

#career {
    font-size: 50px;
    color: white;
    padding: 100px;
}

/* my name and web developer ends*/
/* links to github, linkedin and resume */
.accounts {
    display: flex;
    list-style: none;   
    justify-content: center;
  
}

.link-color {
    color: white;
    font-size: 40px;
    margin: 50px;
}
/*linkes end */
/*navigation/header ended*/

/*main content started- about me, skills and education */
.skills-me-education {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

/* this is for skills and education only */
.skills-education {
    border: 10px solid rgb(201, 102, 118);
    flex: 1;
    margin: 80px 0px;
    text-align: center;
}

.skills-education-h2 {
    font-size: 50px;
    color:#383D5c;
    text-align: center;
    line-height: 60px;
    text-decoration: underline;
}   

.skill-ul {
    list-style: none;
    font-size: 40px;
    margin: 40px;
}

/* this is for about me only */
.about-me {
    border: 10px solid rgb(201, 102, 118);
    flex: 2;
    padding: 0 80px 40px 80px;
    margin: 40px;
    text-align: center;
}

#me {
    color:#383D5c; 
    font-size: 50px;
    line-height: 60px;
    text-align: center;
    text-decoration: underline;
}

.about-me-img {
    border-radius: 15%;
    align-items: center; 
    margin-top: 20px;
}

.about-me-p {
    text-align: center;
    font-size: 30px;   
    position: relative;  
    top: 30px;
} 

/*start of project section */
.project-border {
    border: 10px solid rgb(201, 102, 118);

}

.project-title {
    font-size: 50px;
    color: #383D5C;
    text-decoration: underline;
    text-align: center;
} 

.projects { 
    display: inline-block;
    margin: 20px 90px 30px;
}

.projects-imgs {
    border-radius: 15%;
    align-items: center; 
    margin-bottom: 40px;
}

/* contact me section*/
.contact-location {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
} 

.contact-border {
    border: 10px solid rgb(201, 102, 118);
    margin: 40px 100px 0px 90px;
    padding: 10px 300px;
}

#contact {
    font-size: 50px;
    padding-bottom: 30px;
    text-align: center;
    color: #383D5C;
    text-decoration: underline;
}

#reach-out {
    text-align: center;
    font-size: 40px;
}

#reach-out-p {
    text-align: center;
    padding-top: 25px;
    font-size: 30px;
}

#phone {
    list-style: none;
    font-size: 20px;
    text-align: center;
    padding-top: 25px;
}

#email {
    list-style: none;
    font-size: 20px;
    text-align: center;
    padding-top: 25px;
}

/* contact form */
.form-location {
    border: 10px solid rgb(201, 102, 118);
    margin: 40px 100px 0px 100px;
    flex: 2;
    
}
.form-content {
    text-align: center;
    font-size: 50px;
    margin-top: 40px;
}

#message-h5 {
    text-align: center;
    font-size: 50px;
    margin-top: 10px;
    color: #383D5C;
    text-decoration: underline;
}

.input-values {
    width: 50%;
    text-align: center;
    height: 60px;
}

/* footer */
#footer {
    background-image: url("../images/sunset.png");
    background-size: cover; 
    background-attachment: fixed;
    padding: 20px;
}

#footer-copy {
    text-align: center;
    color: white;
    font-size: 30px;
}

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER*/
@media screen and (max-width: 980px) {
/*this will be applied on any screen smaller than 980px */
.jumbotron-img {
    width: 100%;
}

.headshot {
    display: block;
    justify-content: center;
}

.accounts {
    display: flex;
    justify-content: center;
}

.skills-me-education {
    flex-direction: column-reverse;
}

.about-me {
    order: 1;
}
}

