*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #E2B27A;
}

/*navigation/header begins*/

header {
    background-image: url("../images/sunset.png");
    background-size: cover;
    background-position: center;
    background-position: 80%;
    background-attachment: fixed;
    position: -webkit-sticky;
    position: sticky;
    top: 0; 
    z-index: 9999;  
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

header nav ul {
    display: flex;
    list-style: none;
    justify-content: center;  
    flex-wrap: wrap;  
}

header nav ul li a {
    padding: 10px 30px;
    font-size: 40px;  
    color: white;
}

.jumbotron-img {
    background-image: url("../images/sunset.png");
    background-size: cover; 
    background-position: 80%;
    background-attachment: fixed;
}
/*main photo of me */
.headshot {
    text-align: center;
    padding: 90px 0 20px;
    border-radius: 50%;  
}

#img {
    border-radius: 50%; 
}
/*main photo ends */
/* my name and web developer */
#user {
    font-size: 50px;
    position: relative;
    bottom: 320px;
    padding-left: 6cm;
    color: white;
}

#career {
    font-size: 50px;
    text-align: right;
    position: relative;
    bottom: 380px;
    padding-right: 6cm;
    color: white;
}
/* my name and web developer ends*/
/* links to github, linkedin and resume */
.accounts {
    display: flex;
    list-style: none;   
    justify-content: center;
  
}

.link-color {
    color: white;
    font-size: 40px;
    margin: 50px;
}
/*linkes end */
/*navigation/header ended*/

/*main content started- about me, skills and education */
.about {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.about-2 {
    border: 10px solid #E36042;
    background-color: #E2B27A;
    flex: 1;
    margin: 80px 40px;
    text-align: center;
}

.about-3 {
    border: 10px solid #E36042;
    background-color: #E2B27A;
    flex: 2;
    padding: 0 200px 0px 200px;
    margin: 40px;
    text-align:center;
}

#me {
    color:#383D5c;
    border-bottom: 4px solid; 
    justify-content: center;
}

.info {
    font-size: 50px;
    
}

.info-img {
    border-radius: 15%;
    align-items: center;   
}

.info-p {
    text-align: center;
    font-size: 30px;  
}


/* Second article in main section */

.h2 {
    text-align: center;
    font-size: 50px;
    border-bottom: 4px solid;
    color:#383D5c;
    
}

.skill-ul {
    list-style: none;
    font-size: 40px;
    margin: 40px;
}

/*start of project section */
.project-border {
    border: 10px solid #E36042;
    background-color: #D8DCF5;
    
}

#project-title {
    text-align: center;
    font-size: 50px;
    color: #383D5C;
}

.projects { 
    display: inline-block;
    margin: 40px 70px;
    justify-content: center; 
}

.link {
    color:#383D5C;
    font-size: 40px;
    margin: 60px
}
/* this is for the star project, github link to align */
.link-2 {
    color:#383D5C;
    font-size: 40px;
    margin: 100px
}

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER*/
@media screen and (max-width: 980px) {
/*this will be applied on any screen smaller than 980px */
.jumbotron-img {
    padding: 19%;
    padding-bottom: 20px;
}

#user {
    position: relative;
    bottom: 640px;
    text-align: center;
    right: 100px;
}

#career {
    position: relative;
    left: 125px;
    top: -80px;
    text-align: center;
}

.headshot {
    position: relative;
    bottom: 80px;
}

.accounts {
    position: relative;
    left: -5px;
}

.info-img {
    justify-content: center;
}

.info-img-2 {
    position: relative;
    left: 200px;
}

.link-2 {
    position: relative;
    left: 200px;
}
}

/*MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
    /* this will be applied on any screen between 768px an 575 px */
#user {
    position: relative;
    bottom: 490px;
    text-align: center;
    right: 50px;
}

.headshot {
    position: relative;
    top: 80px;
    left: 60px;
}

.accounts {
    position: relative;
    left: 65px;
    flex-wrap: wrap;
}

.about-3 {
    padding: 0px;
}

.info-img-2 {
    position: relative;
    right: 38px;
}
}

/*MEDIA QUERY FOR MOBILE PHONES AND SMALLER*/
@media screen and (max-width: 575px) {
    /*this will be applied on any screen smaller than 575px */
    #user {
        position: relative;
        bottom: 490px;
        right: 100px;
        text-align: center;
        right: 65px;
    }

    #career {
        position: relative;
        left: 170px;
        top: -30px;
        text-align: center;
    }

    .headshot {
        position: relative;
        top: 80px;
        left: 60px;
    }

    .accounts {
        position: relative;
        left: 65px;
        flex-wrap: wrap;
    }

    .info-img-2 {
        position: relative;
        right: 38px;
    }

    .link-2 {
        position: relative;
        right: 35px;
    }

    .about-3 {
        padding: 0px;
    }
}